
.card{
    background-color: grey;
    height: 300px;
    width: 400px;
    
}

.id{
    background-color: red;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    color: white;
   
}

.name{
    background-color: white;
    height: 100px;
    color: black;
}